@import '../../node_modules/react-md/src/scss/_react-md.scss';
@import './variables.scss';
/* Path is hardcoded to avoid a webpack config only for node_modules import */

// Include all components
// Hard coded variables to avoid variables import in index, override default react-md value

$md-primary-color: $md-brown-500;
$md-secondary-color: $md-deep-orange-a-200;

$md-primary-color-light: #a98274;
$md-primary-color-dark: #4b2c20;

$md-secondary-color-light: #ffa06d;
$md-secondary-color-dark: #c53d13;

@include react-md-everything;

body{
    margin: 0;
    padding: 0;
    /* Not so white background */
    background-color: #FAFAFA;

    /* Custom font Roboto added manually before new release of MUI */
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: $md-secondary-color;
    font-weight: 700;
}

.aside {
    margin-top: -8px;

    h1, .md-title, .md-icon, a {
        color: #ffffff;
    }

    img {
        max-width: 100%;
    }

    .detail {
        padding: 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 5px 0;
        }
    }

    .md-icon {
        vertical-align: middle;
        margin-right: 10px;
    }

    .profileLinks {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 10px;

        li {
            padding: 5px;
        }
    }
}

.md-background--primary {
    &.light {
        background: $md-primary-color-light;
    }
    &.dark {
        background: $md-primary-color-dark;
    }
}

.md-background--secondary {
    &.light {
        background: $md-secondary-color-light;
    }

    &.dark {
        background: $md-secondary-color-dark;
    }
}

.md-display-3, .md-display-4, h3, .md-title {
    white-space: normal;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper-container {
    border-top: 5px solid $md-secondary-color;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.box {
    box-shadow: $material-box;
    background: #fff;
    margin: 10px;
    padding: 20px;
}

.chip-list .md-chip {
    margin: .5em;
}

.skill-collapse {
    h3 button {
        vertical-align: middle;
    }
}

main .md-icon {
    color: $md-primary-color;
}

.education {

    h3 {
        white-space: normal;
    }

    .institution {
        color: $md-secondary-color;
    }
}

.button-wrapper {
    display: flex;
    align-items: center;
}